[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[c65bf7f8-030b-4f48-b40a-362e10ddf29f]
row=4
col=0

[ROOT-A]
row=1
col=0

[a5b73fc4-bf43-4f82-8a93-b5977628f42d]
row=0
col=0

[D77B-9E35]
row=3
col=0

[Trash]
row=5
col=0

[/]
row=1
col=1

[/home/haakenlid]
row=0
col=1

